*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  font-family: var(--pc-font-family);
  color: var(--pc-color-text);
  background-color: var(--pc-color-background);
}
