:root {
    /* Colors */
    --pc-color-primary: #007bff;
    --pc-color-secondary: #6c757d;
    --pc-color-text: #333;
    --pc-color-background: #f8f9fa;
  
    /* Font */
    --pc-font-family: "Inter", sans-serif;
    --pc-font-size-md: 16px;
  
    /* Breakpoints */
    --pc-screen-sm: 640px;
    --pc-screen-md: 768px;
    --pc-screen-lg: 1024px;
    --pc-screen-xl: 1280px;
    --pc-screen-2xl: 1536px;
  }
  