// .table {
//     // display: flex;
// }

.header {
    background-color: lightgray;
    max-width: auto;
    min-width: 200px;
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid black;
}

.row {
    text-align: left;

}

.box {
    border-bottom: 1px solid black;
    padding: 5px;
}