// .table {
//     // display: flex;
// }

.header {
  border: 0px;
  background-color: rgb(248, 244, 244);
  max-width: auto;
  min-width: 200px;
  text-align: left;
  padding: 5px;
 
  border-bottom: 1px solid black;
}

.row {

  text-align: left;

}

.box {
  border: 0px;
  border-bottom: 1px solid black;
  padding: 5px;
}

.table {
  width: 100%;
}

.table.small {
  font-size: 12px;
  padding: 5px;
}

.table.normal {
  font-size: 14px;
  padding: 10px;
}

.table.large {
  font-size: 16px;
  padding: 15px;
}

th,
td {
  padding: 8px;
}

.show-gridlines{
  border: 1px solid rgb(63, 62, 62);
}

  .striped {
    background-color: lightgray; 
     /* Light gray background for striped rows */
  }

  .paginator{
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 5px;
  }

  .status {
    padding: 2px 5px;
    border-radius: 4px;
  }
  
  .status.instocks {
    background-color: #28a745;
    color: white;
  }
  
  .status.lowstock {
    background-color: #ffc107;
    color: white;
  }
  
  .status.outofstock {
    background-color: #dc3545;
    color: white;
  }
  
  .star-filled {
    color: gold;
    /* Filled stars will be gold */
    font-size: 1.2rem;
    /* Adjust size if necessary */
  }
  
  .star-empty {
    color: gray;
    /* Empty stars will be gray */
    font-size: 1.2rem;
    /* Adjust size if necessary */
  }

  .flex{
    display: flex;
  }

  .clickable{
    cursor: pointer;
    margin-left: 20px;
  }

  .active-sort {
    background-color: #9b3f3f; /* Light background color for active column */
    color: #000000; /* Blue text color */
  }